@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* --font-family-story: 'Comic Neue'; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

    /* font-family: "Poppins", sans-serif; */
    /* font-family: Poppins,Roboto,Helvetica Neue,Arial,sans-serif,-apple-system,BlinkMacSystemFont; */

    overflow-y: hidden;
}

header {
  position: sticky;
  top: 0;
}

main {
  overflow-y: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 2em;
}

h1, h2, h3, h4, p {
  margin: 1rem 0;
  line-height: 1.5;
}



.story-card h2 {
  font-size: 1.25em;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.reading-toolbar {
  background-color: #282828ff;
  color: #e3e3e3ff;
  /* height: 50px; */
  display: flex;
  padding: 1rem;
  border-radius: 0;
  margin-bottom: 1rem;
  justify-content: center;
}

.page-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
  
  .page-header {
    border-bottom: 1px dashed;

    h1 {
      font-weight: bold;
      font-size: 1.25rem;
      text-align: center;
    }

    p {
      font-style: italic;
    }
  }

  .category-panel {
    display: flex;
    max-width: calc(100vw - 2rem);
    overflow-x: auto;
    padding-bottom: 0.25rem;
  }
}




.story-container {
  background-color:#3c3c3cff;
  /* color: #e3e3e3ff; */
}

.popup-translate {
  position: absolute;
  left: 0;
  z-index: 10;
  /* display: none; */
  width: auto;
  min-width: 24rem;
  padding: 1rem;
  margin-top: 1rem;
  color: white;
  background: '#2b3440';
  border-radius: 4px;
  line-height: 32px;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.story-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    aspect-ratio: 16/9;
  }

  .thumbnail {
    margin: -1rem;

    img {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      height: 250px !important;
    }
  }

  .introduction {
    padding: 0 1rem;
    /* max-height: 250px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 9; 
    -webkit-box-orient: vertical;
    white-space: normal; /* Ensures it works for multiline text */
    line-height: 1.5; /* Adjust line-height based on your design */
  }
}

.story-card:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 2;
  color: brown;
}


.story-dialog img{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  aspect-ratio: 16/9;
  width: 100%;
}


.person-card .introduction {
  /* padding: 0 1rem; */
  /* max-height: 250px; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; 
  -webkit-box-orient: vertical;
  white-space: normal; /* Ensures it works for multiline text */
  line-height: 1.5; /* Adjust line-height based on your design */
}




.overlay-panel::after, .overlay-panel::before {
  bottom: 100%;
  left: 2rem;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.overlay-panel::after {
  border-width: 8px;
  /* margin-left: -8px;
  border: solid transparent; */
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
}

.navbar-custom {
  display: flex;
  flex-direction: column;
  width: 100vw;

  .btn-square {
    width: 2rem;
  }

  .active-link {
    border-bottom: 4px solid yellowgreen;
    padding: 8px 0;
  }

  .navbar-custom-start ul {
    width: 14rem;
    padding: 1rem;
    line-height: 32px;
    min-height: 200px;
    border-radius: 8px;
    margin-top: 8px;
  }

  .active-link-sidebar{
    font-weight: 600 !important;
    color: brown;
    background-color: #fee2e2;
  }

  li:hover {
    background-color: #fef2f2;
  }

  .active-link-navbar {
    font-weight: 600 !important;
    color: brown;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
  }
}


.about-us {
  font-size: 14px;
  color: darksalmon; 
  font-weight: 600;
  margin-bottom: 4px;
  border-radius: 4px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 4px;
  text-align: right;
}

.story-details {
  color: #e3e3e3ff;
  max-width: 800px;
  margin: 0 auto;
  overflow-wrap: break-word;
  padding-bottom: 2rem;

  h1 {
    font-size: 2em;
    /* margin: 1.25rem 0; */
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .btn-translate {
    padding: 0;
    background-color: #676767;
    border: none;
    width: 22px;
    height: 22px;
    min-height: unset;
    margin-left: 4px;
    color: darkblue;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.6;
    letter-spacing: 0.2px;
    /* text-indent: 1rem; */
  }

  .story-article {
    padding: 1rem;
  }

  .people-article {
    padding: 1rem;

    h2 {
      border-left: 4px solid brown;
      padding-left: 0.5rem;
      font-weight: bold;
      font-size: 1.125rem;
    }

    ul {
      list-style: unset;
      padding-left: 2rem;
      margin: unset;

    }

    p {
      font-size: 1rem;
      line-height: 1.6;
      letter-spacing: 0.2px;
      /* text-indent: 1rem; */
    }
  }

  .thumbnail {
    margin-left: -1rem;
    margin-right: -1rem;
    padding-top: 1rem;
  }
}


@media (min-width: 768px) {
  .story-details .story-article {
    border-radius: 10px;
    /* margin: 40px auto; */
    width: 100%;
    max-width: 800px;
    padding: 1rem 2rem;
    box-shadow: 0 0 24px #0000003d;
  }

  .story-details .thumbnail {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  .story-details .people-article {
    border-radius: 10px;
    /* margin: 40px auto; */
    width: 100%;
    max-width: 800px;
    padding: 1rem 2rem;
    box-shadow: 0 0 24px #0000003d;
  }

  .reading-toolbar {
    border-radius: 10px;
  }

  
}

@media (min-width: 1024px) {
  
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 1rem !important;
  font-weight: bold !important;
  border: solid 1px #e5e7eb;
  padding: 8px;
  border-radius: 4px;
}

.swiper-button-next, .swiper-button-prev {
  top: auto !important;
  bottom: 50px !important;
}

.swiper-pagination {
  bottom: 2px !important;
  top: auto !important;
}


